<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Wall - Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/resource.css" />
  <link rel="stylesheet" href="/styles/resourcepage.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/header.js"></script>
  <script defer src="/scripts/main.js"></script>
  <script defer src="/scripts/resource.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main id="main_container">
      <article class="resource">
        <section id="resource-superscript">
          <h3>
            <%= resource["title"] %>
          </h3>
          <p>
            <%= resource["description"] %>
          </p>
        </section>
        <iframe id="inlineFrameExample" title="Inline Frame Example" scrolling="no" src=<%=resource["url"] %> sandbox>
        </iframe>
        <p>
          <%= timeago.format(new Date(resource["created_at"])) %> by @<%= resource["username"] %>
        </p>
        <section id="resource-subscript">
          <!-- <p><%= resource["likes"] %> likes, <%= resource["likes"] - 8%> comments</p> -->
          <div id="icons">
            <button>
              <i class="fas fa-heart"></i>
            </button>
            <!-- <a href="/like" class="icon"><i class="fas fa-heart"></i></a> -->
            <button>
              <a href="<%= resource["id"] %> " class="icon"><i class="fa-solid fa-comment"></i></a>
            </button>
            <button>
              <a href="<%= resource["url"] %>" class="icon"><i class="fa-solid fa-glasses"></i></a>
            </button>
          </div>
        </section>
      </article>
      <article id="resource-alter-buttons">
        <form method="GET" action="/resources/<%= resource["id"] %>/edit">
          <button type="submit" class='btn btn-primary'>Edit</button>
        </form>
        <form method="POST" action="/resources/<%= resource["id"] %>/delete">
          <button type="submit" class='btn btn-danger'>Delete</button>
        </form>
      </article>


    </main>
</body>

</html>
